#eclipse
.metadata
bin/
tmp/
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.classpath
*.pydevproject
.loadpath

# Eclipse Core
.project
.class
target/

# Maven
log/
target/






