#eclipse
.metadata
bin/
tmp/
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*.class
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.classpath
*.pydevproject
.loadpath

# Eclipse Core
.project
.class
target/
target/**/*
target/**

# Maven
log/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties






